@charset "UTF-8"; 

body {
    background: url(../img/bg.gif) repeat top center;
}

#contents {
    margin: 30px 200px 0 500px
}

h2 {
    margin: 4px 100px 0 550px;
    padding: 10px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin: 0 40px 0 50px;

}

li a {
    margin: 0 30px 0 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;

}


input, select {
    background:#fff;
    font-size:1em;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    color:#8c8a8b;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}